* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.modal-content {
  box-shadow: 0px 1px 5px 1px rgb(105, 105, 105);
  background-color: #1a1a1a;
}

.title-recupero {
  color: #ff00e5;
}

.title-body {
  color: #ff00e5;
}

.input-checkbox {
  transform: scale(2);
}

.boton-enviar {
  background-color: #ff00e5;
}
