.min-height {
  min-height: 85vh;
}
.hero-image-container {
  position: relative;
}
.hero-image {
  height: 600px;
  object-fit: cover;
}
.overlay {
  background-color: rgb(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
